*{
    margin: 0 auto;
}

body{
    background-color: rgb(241, 235, 235);
}

.divTudo{
    font-family: Arial, sans-serif;
}

.divLinha{
    clear: both;
}

td{
    font-size: 15px;
    text-align: center;
    font-style: bold;
}

th{
    color: rgb(144, 142, 142);
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}

.h2TituloSessao{
    margin-bottom: 10px;
}

/* Estilos do cabeçalho em geral */
#divCabecalho{
    height: 100px;
    background-color: cadetblue;
    padding: 20px 50px 20px 30px;
    margin-bottom: 30px;
}

#h1TituloCabecalho{
    float: left;
    min-width: 50%;
    font-size: 30px;
    text-align: left;
}

/*Estilos Classificação*/

#divClassificacao{
    width: 65%;
    background-color: white;
    padding: 10px;
}

#divClassificacao h3{
    margin-top: 10px;
    margin-bottom: 20px;
}

#tableClassificacao{
    width: 100%;
    text-align: center;
}

.imgClube{
    width: 28px;
    height: 28px;
}

/*Estilos Bolinhas*/

.divVit{
    height: 20px;
    width: 20px;
    border-radius:100%;
    border: solid 1px black;
    background-color:lawngreen;
    float: right;
    margin-right: 5px;
}
.divEmp{
    height: 20px;
    width: 20px;
    border-radius:100%;
    border: solid 1px black;
    background-color:lawngreen;
    float: right;
    margin-right: 5px;
}
.divDer{
    height: 20px;
    width: 20px;
    border-radius:100%;
    border: solid 1px black;
    background-color:lawngreen;
    float: right;
    margin-right: 5px;
}
/*----------------*/

/*Estilos Goleadores*/
#divGoleadores{
    width: 65%;
    background-color: white;
    margin-top: 30px;
    padding: 10px;
}

#tableGoleadores{
    width: 100%;
    text-align: center;
}

#tableGoleadores th{
    text-align: left;
    padding-left: 50px;
    padding-right: 60px;
}

.tdJogador{
    text-align: left;
    width: 90%;

}

.spanNomeClube{
    color: darkgrey;
    font-size: 12px;
    align-items: center;
}

/*Estilos Jogos*/
#divJogos{
    width: 65%;
    background-color: white;
    margin-top: 30px;
    padding: 10px;
}

#tableJogos{
    width: 70%;
    text-align: center;
    height:150px
}












